@model dotnet_oop.Models.AddEmployeeViewModel


<h2>Add Employee</h2>
  
<form method="post" action="Add" class="mt-5">
  <div class="mb-3">
    <label  class="form-label" >Name</label>
    <input type="text" class="form-control" required asp-for="Name">
    </div> 

    <div class="mb-3">
    <label  class="form-label">Email</label>
    <input type="email" class="form-control" required asp-for="Email">
  </div>
   <div class="mb-3">
    <label  class="form-label">Salary</label>
    <input type="number" class="form-control" required asp-for="Salary">
  </div>

  <div class="mb-3">
    <label  class="form-label">Date of Birth</label>
    <input type="date" class="form-control" required asp-for="DateOfBirth">
  </div>
  <div class="mb-3">
    <label class="form-label">Department</label>
    <input type="text" class="form-control" required asp-for="Department">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>