
@model dotnetoop.Models.Domain.Employee


<h2>Update Employee</h2>
  
<form method="post" asp-action="Update" asp-controller="Employee" class="mt-5">
    <div class="mb-3">
    <label  class="form-label" >Id</label>
    <input type="text" class="form-control" readonly value="@Model.Id" required asp-for="Id">
    </div> 
  <div class="mb-3">
    <label  class="form-label" >Name</label>
    <input type="text" class="form-control" required asp-for="Name">
    </div> 

    <div class="mb-3">
    <label  class="form-label">Email</label>
    <input type="email" class="form-control" required asp-for="Email">
  </div>
   <div class="mb-3">
    <label  class="form-label">Salary</label>
    <input type="number" class="form-control" required asp-for="Salary">
  </div>

  <div class="mb-3">
    <label  class="form-label">Date of Birth</label>
    <input type="date" class="form-control" required asp-for="DateOfBirth">
  </div>
  <div class="mb-3">
    <label class="form-label">Department</label>
    <input type="text" class="form-control" required asp-for="Department">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>