@{
    ViewBag.Title = "Portfolio";
}
<!-- Portfolio Section -->
<section styleclass="section bg-custom-gray" id="portfolio">
    <div class="container">
        <h1 class="mb-5"><span class="text-danger">My</span> Portfolio</h1>
        <div class="portfolio">
        </div>
        <img id="myimg" src="~/nishant.jpg" width="30%" style="border:5px solid black">
        <h2>About</h2>
        <p>I am Nishant Kumpakha currently studying BSc CSIT at Bhaktapur Multiple Campus</p>
        <h2>Contact</h2><br>
        <div class="container mt-5">
            <h1>GitHub Link</h1>
            <p>Visit my GitHub profile:</p>
            <a href="https://github.com/nishantvegeta" target="_blank" class="btn btn-primary ">
                <i class="fa fa-github"></i> Visit GitHub
            </a>
        </div>
        <div class="container mt-5">
            <h1>Facebook Link</h1>
            <p>Visit my facebook profile:</p>
            <a href="https://www.facebook.com/nishant.kumpakha.5" target="_blank" class="btn btn-primary ">
                <i class="fa fa-facebook"></i> Visit Facebook
            </a>
        </div>
        <div class="container mt-5">
            <h1>Instagram Link</h1>
            <p>Visit my Instagram profile:</p>
            <a href="https://www.instagram.com/nishantkum_/" target="_blank" class="btn btn-primary ">
                <i class="fa fa-instagram"></i> Visit Instagram
            </a>
        </div>
        <div class="container mt-5 text-danger">
            <h2>Projects</h2>
            <div class="card text-danger">
                <div class="card-body">
                    <h5 class="card-title ">Sneaker shop</h5>
                    <p class="card-text">Ecommerce site of shoe store using html,css and js.</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Django rest api</h5>
                    <p class="card-text">API using DJANGO</p>
                </div>
            </div>
            <!-- Add more projects as needed -->
        </div>


    </div>
</section>
